 .row {
   width: 100%;
 }
 .column-float {
   float: left;
 }
 .column-75 {
   width: 75%;
   background: lightblue;
 }
 .column-25 {
   width: 25%;
   background-color: lightgreen;
 }
 .column-30 {
   width: 30%;
   margin: 20px;
 }
 .first-column {
   background-color: lightblue;
 }
 .second-column {
   background-color: lightgreen;
 }
